*{
	margin:0pxauto;
}
body{
	background-image:url(../img/bg.jpg);
	background-size:cover;
}
.containt{
	width: 600px;
	height: 200px;
	padding: 0px 10px;
	margin: 10px auto;
}
.containt h2{
	font-size: 29px;
	font-style: oblique;
	color: #dec7c7;
	padding: 5px;
}
.forget{
   padding: 85px;
   margin: 37px;
   text-align: center;
   background-color: #368bce;
}
.from-control{
	width: 79%;
	height: 30px;
	padding: 5px 20px;
	margin-bottom: 7px;
}
.btn{
	width: 21%;
    height: 32px;
    padding: 8px;
    border-radius: 2px 5px;
}